<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
	<div id="app">
			<input type="text" v-model="username" placeholder="Username" /><br>
			<input type="password" v-model="password" placeholder="password" /><br>
			<button type="button">LOGIN</button>
	</div>
	<script>
		var app = new Vue({
		  el: '#app',
		  data: {
		  	username: '',
		  	password: '',
		  },
		});
	</script>
</body>
</html>